In [11]:
import mysql.connector as msql
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine
import re
import os

In [21]:
try:
    conn = msql.connect(host='3.110.5.152',port='3306', user='dbuser',  
                        password='fk5%Ht3=OSwx',database = 'mktg_source',auth_plugin='mysql_native_password')
    if conn.is_connected():
        cursor = conn.cursor()
        print("Database is created")
except Error as e:
        print("Error while connecting to MySQL", e)

Database is created

In [26]:
directory = "C:/Users/sumeet/Desktop/BRIDGELABZ/bridgeLabz/mktng_database/data_processing"
if not os.path.exists(directory):
    os.makedirs(directory)

In [22]:
mycursor = conn.cursor()
mycursor.execute("SHOW TABLES")
tables = mycursor.fetchall()

In [24]:
table_names = [table[0] for table in tables]
tables_names_2 = table_names[0:2]

In [27]:
tables_names_2

['apr2021', 'apr2022']

In [15]:
for table in table_names_2:
    df = pd.read_sql("SELECT * FROM " + table, con=conn)
    df=df.rename(columns={'City':'Location'})
    if df['']
    columns=['Name', 'Email', 'Mobile Number', 'Qualification', 'Year of Passing',
        'Stream','college','% in IT' ,'Gender','Role','Total Exp','Location', 'State',  
       'Database Date',  'Database-Year-Month','Source', 'Source Details', 'Funnel','Source Code']
    file_name = os.path.join(directory, table + ".csv")
    df.to_csv(file_name, index=False)

In [20]:
conn.close()