In [2]:
import mysql.connector as msql
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine
import re

In [3]:
try:
    conn = msql.connect(host='3.110.5.152',port='3306', user='dbuser',  
                        password='fk5%Ht3=OSwx',auth_plugin='mysql_native_password')
    if conn.is_connected():
        cursor = conn.cursor()
        print("Database is created")
except Error as e:
        print("Error while connecting to MySQL", e)

Database is created

In [4]:
sql_query = "select * from mktg_source.dec2021;"
df = pd.read_sql(sql_query,conn)

In [8]:
df.columns

Index(['Name', 'Email', 'Mobile Number', 'Qualification', 'Year of Passing',
       'Gender', 'Stream', 'City', 'State', 'Role', 'Total Exp',
       'Database Date', 'Source', 'Source Details', 'Source Code', 'Funnel',
       'Daily Datewise Data'],
      dtype='object')

In [19]:
df=df.rename(columns={'City':'Location'})

In [20]:
df.columns

Index(['Name', 'Email', 'Mobile Number', 'Qualification', 'Year of Passing',
       'Gender', 'Stream', 'Location', 'State', 'Role', 'Total Exp',
       'Database Date', 'Source', 'Source Details', 'Source Code', 'Funnel',
       'Daily Datewise Data'],
      dtype='object')

In [21]:
#df=df[['Name', 'Email', 'Mobile Number', 'Qualification', 'Year of Passing',
        'Stream','Gender','Role','Total Exp','Location', 'State',  
       'Database Date', 'Source', 'Source Details', 'Funnel','Source Code']]

In [22]:
df.shape

(46286, 16)

In [23]:
columns=['Name', 'Email', 'Mobile Number', 'Qualification', 'Year of Passing',
        'Stream','college','% in IT' ,'Gender','Role','Total Exp','Location', 'State',  
       'Database Date',  'Database-Year-Month','Source', 'Source Details', 'Funnel','Source Code']

In [24]:
df = df.reindex(columns=columns)

In [29]:
df

,Name,Email,Mobile Number,Qualification,Year of Passing,Stream,college,% in IT,Gender,Role,Total Exp,Location,State,Database Date,Database-Year-Month,Source,Source Details,Funnel,Source Code
0,Mallikarjun,mallikarjunrammanthale@gmail.com,919591977617,B.Tech/B.E,2020.0,None,NaN,NaN,None,None,None,Hyderabad,None,2021/12/01 00:00:00.000,NaN,Naukri Crystal,None,None,None
1,E Srinivas,srinu777sardar@gmail.com,916304918491,B.Tech/B.E,2019.0,None,NaN,NaN,None,None,None,Hyderabad,None,2021/12/01 00:00:00.000,NaN,Naukri Crystal,None,None,None
2,Dharani Thouda,dharanithouda@gmail.com,917989358531,B.Tech/B.E,2020.0,None,NaN,NaN,None,None,None,Hyderabad,None,2021/12/01 00:00:00.000,NaN,Naukri Crystal,None,None,None
3,Mohammad Zeeshan Ali Ahmed,zeeshanaliahmed95@gmail.com,919493894710,B.Tech/B.E,2021.0,None,NaN,NaN,None,None,None,Hyderabad,None,2021/12/01 00:00:00.000,NaN,Naukri Crystal,None,None,None
4,N Sukendar,sukkusukendarr@gmail.com,919885463335,B.Tech/B.E,2018.0,None,NaN,NaN,None,None,None,Hyderabad,None,2021/12/01 00:00:00.000,NaN,Naukri Crystal,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46281,Chennuru Prudhvi Raj,prudhvirajchennuru5@gmail.com,919550939463,B.Tech/B.E,2018.0,None,NaN,NaN,None,None,None,Vishakhapatnam,None,2021/12/23 00:00:00.000,NaN,Naukri Crystal,None,None,None
46282,Ayaz Baig mohammed,ayazbaigmd3@gmail.com,917981813827,B.Tech/B.E,2021.0,None,NaN,NaN,None,None,None,Guntur,None,2021/12/23 00:00:00.000,NaN,Naukri Crystal,None,None,None
46283,Anumala setty Anjan,anjan.anumalasetty@gmail.com,918897224145,B.Tech/B.E,2018.0,None,NaN,NaN,None,None,None,Vijayawada,None,2021/12/23 00:00:00.000,NaN,Naukri Crystal,None,None,None
46284,Sai Nikhitendra Kunar,nikithendra123@gmail.com,918374093625,B.Tech/B.E,2019.0,None,NaN,NaN,None,None,None,Anantpur,None,2021/12/23 00:00:00.000,NaN,Naukri Crystal,None,None,None
46285,Tunuguntla Chandhini,tunuguntlachandhini@gmail.com,917337546891,B.Tech/B.E,2020.0,None,NaN,NaN,None,None,None,Vijayawada,None,2021/12/23 00:00:00.000,NaN,Naukri Crystal,None,None,None

In [28]:
df.to_csv(r"C:\Users\sumeet\Desktop\BRIDGELABZ\bridgeLabz\mktng_database\data_merging\dec2021.csv", index=False)

In [319]:
engine = create_engine('mysql+pymysql://db_user:fk5%Ht3=OSwx@3.110.5.152:3306/mktg_source')
conn1 = conn.connect()
df.to_sql(name='sep2022', con=engine, if_exists='replace', index=False)
conn.close()
engine.dispose()

In [12]:
#df.to_sql(name='mktg_database.exam2022', con=engine, if_exists='replace', index=False)

In [31]:
#engine.dispose()

In [32]:
#engine

Engine(mysql+pymysql://root:***@localhost:3306/mktg_database)